body {
    font-size: 16px;
    color: #333;
    font-family: "Hind", sans-serif;
    background-color: #f3ffe1;
}

img {
    max-height: 100px;
    margin: 10;
}

/* header style */
header {
    /* background-color: #c1fba4; */
    /* padding: 10px; */
    margin-bottom: 20px;
    /* font-family: 'Finger Paint', cursive; */
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    color: #7BF1A8
}

/* user-input form style */
#user-input {
    display: none;
    border: 2px solid black;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column wrap;
}

/* #user-input label {
    display: block;
    margin-bottom: 10px;
} */
/* 
#user-input input[type="text"],
#user-input input[type="password"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#user-input input[type="text"]:focus,
#user-input input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
}

*/

#user-input button {
    display: flex;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color:#7BF1A8; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 


/* CSS for profile.html */

/* set default font size and color */
body {
    font-size: 16px;
    color: #333;
}

/* header style */
/* h3 {
    background-color: #dfffd6;
    padding: 10px;
    margin-bottom: 20px;
} */

h2{
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    color: #7BF1A8;
    background-color: #dfffd6;
    padding: 10px;
    margin-bottom: 20px;
}

/* profile-container style */
#profile-container {
    display: flex;
    margin-bottom: 20px;
    flex-flow: column;
    /* justify-content: space-between; */
}

#profile-container img{
  max-height: 100px;
}

/* #username-txt {
    font-size: 35px;
    margin-bottom: 10px;
} */



/* #back {
    margin: 10 auto;
    padding: 10px;
    font-size: 16px;
    background-color:#7BF1A8; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
} */

#profile-container button {
    margin: 10 auto;
    padding: 10px;
    font-size: 16px;
    background-color:#7BF1A8; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150;
}

#profile-container #log-out {
    background-color: #f8bbd0;
}

#profile-container #remove-btn, #profile-container #remove-posts {
    background-color: #dc3545;
}

#log-out a, #back a {
    color: white; 
    text-decoration: none;
}
  


/* post-container style */
#post-container {
    /* margin-top: 100px;  */
    margin-bottom: 20px;
    align-items: center;
}

#post-container label {
    display: block;
    margin-bottom: 10px;
}

#post-container textarea {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#post-container textarea:focus {
    outline: none;
    border-color: palevioletred;
}

#post-container button {
    display: block;
    margin: 10 auto;
    padding: 10px;
    font-size: 16px;
    background-color: #7BF1A8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* post-card style */
.post-card {
    margin: 10 auto;
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#post-card{
    background-color: #dfffd6;
}

/* other-users-container style */
#other-users-container {
    margin-bottom: 20px;
}

* {
    text-align: center;
}

#user-choice {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

/* user-choice buttons style */
#user-choice button {
    padding: 10px;
    margin: 10 auto;
    font-size: 16px;
    background-color: #dfffd6;
    border: none;
    cursor: pointer;
    width: fit-content;
    border-radius: 10;
}

.user-card img {
    cursor: pointer;
}

#user-input img {
    cursor: pointer;
}


#profile-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}



.other-users-posts{
    width: 500px;
}

form{
    margin-top: 50px; 
}